.info-container {
  background-color: #d9d9d9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-text {
  padding-bottom: 37px;
  color: #4b8077;
  font-size: 1.25rem;
  text-align: center;
}
